@model IEnumerable<Actor>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actor List</title>
    <style>
        .btn-custom {
            margin-right: 5px;
        }

        .img-fluid {
            max-width: 100px;
        }
    </style>
</head>
<body>

    <div class="container mt-5">
        <h2 class="mb-4">Actor List</h2>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Profile Pic</th>
                    <th>Name</th>
                    <th>Biography</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Actor actor in Model)
                {
                    <tr>
                        <td>@actor.ActorId</td>
                        <td><img src="@actor.ProfilePicURL" class="img-fluid rounded" alt="Profile Pic" /></td>
                        <td>@actor.Name</td>
                        <td>@actor.Biography</td>
                        <td>
                            <button class="btn btn-info btn-custom" onclick="location.href='@Url.Action("ActorDetails", new { id = actor.ActorId })'">Details</button>
                            <button class="btn btn-warning btn-custom" onclick="location.href='@Url.Action("ActorEdit", new { id = actor.ActorId })'">Edit</button>
                            <button class="btn btn-danger" onclick="location.href='@Url.Action("RemoveActor", new { id = actor.ActorId })'">Remove</button>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button style="background-color:green" class="btn btn-danger" onclick="location.href='@Url.Action("RedirectToAddActor")'">Add</button>
    </div>
</body>
</html>
